<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="backend/stype.css" rel="stylesheet">

    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">ข้อมูลรายบุคคล</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="container-fluid">

                <div class="row">


                    <div class="col-md-9 ml-3">
                        <div class="alert alert-primary" role="alert">
                            ข้อมูลพนักงาน <div class="col-md-6">รหัสพนักงาน :<%= data.emp_id %></div>
                            <div class="row">

                                <div class="col-md-6">ชื่อ :<%= data.emp_fullname %></div>

                            </div>
                            <div class="row">


                            </div>

                            <div class="row">

                                <div class="col-md-6">วันเริ่มงาน :<%= data.emp_start %></div>

                            </div>
                            <div class="row">

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="card-header">รายงาน KPI</div>

                        <div class="container">
                            <div class="page-header">
                                <h1 id="">Timeline</h1>
                            </div>
                            <div id="timeline">
                                <div class="row timeline-movement timeline-movement-top">
                                    <div class="timeline-badge timeline-future-movement">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                    <div class="timeline-badge timeline-filter-movement">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </a>
                                    </div>

                                </div>
                                <div class="row timeline-movement">

                                    <div class="timeline-badge">
                                        <span class="timeline-balloon-date-day">18</span>
                                        <span class="timeline-balloon-date-month">APR</span>
                                    </div>


                                    <div class="col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="timeline-panel credits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-11">
                                                <div class="timeline-panel debits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--due -->

                                <div class="row timeline-movement">


                                    <div class="timeline-badge">
                                        <span class="timeline-balloon-date-day">13</span>
                                        <span class="timeline-balloon-date-month">APR</span>
                                    </div>

                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-11">
                                                <div class="timeline-panel debits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="timeline-panel credits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row timeline-movement">


                                    <div class="timeline-badge">
                                        <span class="timeline-balloon-date-day">10</span>
                                        <span class="timeline-balloon-date-month">APR</span>
                                    </div>

                                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-11">
                                                <div class="timeline-panel debits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6  timeline-item">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="timeline-panel credits">
                                                    <ul class="timeline-panel-ul">
                                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                                        <li><span class="causale">Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit. </span> </li>
                                                        <li>
                                                            <p><small class="text-muted"><i
                                                                        class="glyphicon glyphicon-time"></i>
                                                                    11/09/2014</small></p>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>